{% extends "layout.html" %}
{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">4 C's</h1>

          <div class="row">

            <div class="col-lg-6">

              <!-- Circle Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Carat</h6>
                </div>
                <div class="card-body">
                  <p>The term carat is often misunderstood. It refers to a diamond's weight, not its size. Another misperception is that a larger carat weight is always better than a smaller carat weight. 
                    While it’s true that a big rock can be a status symbol (here’s looking at you, Hollywood), carat weight is not related to sparkle. Beautiful sparkle is the result of a well-crafted cut.
                    In fact, a high carat weight diamond with a poor cut may look smaller than a diamond with a smaller carat weight and a very good cut.</p>
                  <a href = "https://www.bluenile.com/education/diamonds/carat-weight" target="_blank">Learn more</a>
                </div>
              </div>

              <!-- Brand Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Clarity</h6>
                </div>
                <div class="card-body">
                  <p>There are many misconceptions around the clarity of diamonds, including the belief that you need to buy a high clarity grade to avoid seeing imperfections. Another common falsehood is that a higher clarity grade results in more sparkle. Neither of these is true! Here are some tips to get you started on your diamond search:</p>

                   <p> The term “eye clean” means that the diamond’s inclusions are too small to see without magnification.</p>
                   
                   <p>A good place to start your search and maximize your budget is with Slightly Included (SI) and Very Slightly Included (VS) grades because inclusions will not be readily  noticeable without magnification.
                    Diamond shape and size affect clarity. While clarity is less important than a diamond’s cut or color, if you are buying a diamond over one carat or considering certain fancy-shaped diamonds (like an emerald or Asscher cut where flaws are more visible), you may want to spend more for a higher clarity grade.
                    Diamond clarity is an important characteristic that affects a diamond’s beauty. Like all of the 4Cs, diamond clarity is an important consideration when buying a diamond. While clarity affects price, there are a number of factors that can help you decide which clarity grade is right for you.</p>
                  <a href="https://www.bluenile.com/education/diamonds/clarity" target="_blank" class="button">Lean more</a>
          

                </div>
              </div>

            </div>

            <div class="col-lg-6">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Color</h6>
                </div>
                <div class="card-body">
                  <p>The absence of color in a diamond is the rarest and therefore, the most expensive. While the majority of our customers choose a D or E color grade, many go with a beautiful near colorless grade to make the most of their budget and allocate more on the best cut that they can afford (which gives them more sparkle).

                  Deciding whether or not you want to spend more on diamond color grade is partly related to the size and shape of the diamond that you are considering, and your setting preference. You can save by knowing how color affects these attributes.</p>
                  <a href="https://www.bluenile.com/education/diamonds/color" target="_blank" class="button">Lean more</a>
                </div>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Cut</h6>
                </div>
                <div class="card-body">
                  <p>Ideal: This rare cut represents roughly the top 3% of diamond cut quality. It reflects most of the light that enters the diamond.</p>

                   <p> Very Good: This cut represents roughly the top 15% of diamond cut quality. It reflects nearly as much light as the ideal cut, but for a lower price.</p>
                    
                   <p> Good: This cut represents roughly the top 25% of diamond cut quality. It reflects most of the light that enters, but not as much as a Very Good cut grade.</p>
                    
                    <p>Astor by Blue Nile™: These diamonds are crafted to gather and reflect the most light possible. Cut from the finest raw material (rough stones with as few impurities or inclusions as possible), they meet rigorous quality requirements and exhibit outstanding brilliance, fire, and scintillation. In addition to being graded by the GIA, all Astor by Blue Nile™ diamonds are certified by GemEx®</p>
                    <a href="https://www.bluenile.com/education/diamonds/cut" target="_blank" class="button">Lean more</a>
    
                </div>
              </div>
            </div> 
            <!-- End of column -->
          </div>
          <!-- End of row -->
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 {% endblock %}