{% extends "base.html" %}


{% block content %}

  <!-- Modal -->
  
  
  
  <div class="container-fluid" style="background: skyblue">
    <div class = "row">
      <div class="col-lg-6"> 
        <form action = "{{url_for('predict')}}" method="post">
            <div class="form-group">
            <p1>Carat<p1>
                
                <select class="selectpicker" name= "caratselect">
                    <option value = 1>1</option>
                    <option value = 2>2</option>
                    <option value = 3>3</option>
                </select>
            </div>  
            <div class="form-group">
            <p1>Clarity</p1>
          
            <select class="selectpicker" name= "clarityselect">
                {% for cl in clarity %}
                <option value = '{{cl}}'>{{cl}}</option>
                {% endfor %}
            </select>
            </div>

            <p1>Color</p1>

            <select class="selectpicker" name= "colorselect">
                {% for co in color %}
                <option value = '{{co}}'>{{co}}</option>
                {% endfor %}
            </select>

            <br><br>
            <p1>Shape</p1>


            <select class="selectpicker" name= "shapeselect">
                {% for sh in shape %}
                <option value = '{{sh}}'>{{sh}}</option>
                {% endfor %}
            </select>
            <button class ="btn btn-primary" type="submit">Predict</button>
        
        </form>
      </div>    
    </div>
</div>

        {% if pred %}
        <h1>The predicted price is {{ pred }}</h1>
        
        <p>{{ name }}</p>
{% endif %}
{% endblock %}      
        
       
